@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-width: 100vw;
  height: 10vh;
  object-fit: cover;
  object-position: center;
  transform: none;
  margin: 0;
  padding: 0;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Custom cursor styles */
.custom-cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  mix-blend-mode: difference;
}

